absl-py==2.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.16
aiosignal==1.2.0
alembic==1.13.3
altair==5.0.1
annotated-types==0.6.0
ansi2html==1.9.1
anyio==3.7.1
argcomplete==3.2.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.0.5
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
Babel==2.11.0
beautifulsoup4==4.12.3
bleach==6.2.0
blinker==1.6.2
Boruta==0.4.3
Bottleneck==1.4.2
Brotli==1.0.9
cachetools==5.3.3
catboost==1.2.3
cattrs==24.1.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
colorlog==5.0.1
comm==0.2.1
contourpy==1.3.1
cryptography==41.0.3
cycler==0.11.0
Cython==3.0.11
dash==2.14.2
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==0.8.3
fastjsonschema==2.20.0
Flask==3.0.3
Flask-Compress==1.13
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.5.0
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
gotrue==2.11.4
graphviz==0.20.1
greenlet==3.1.1
grpcio==1.48.2
gunicorn==23.0.0
h11==0.14.0
h2==4.2.0
h5py==3.12.1
holidays==0.68
hpack==4.1.0
httpcore==1.0.2
httpx==0.27.0
hyperframe==6.1.0
idna==3.7
importlib_metadata==8.5.0
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
itables==2.2.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter_client==8.6.0
jupyter-console==6.6.3
jupyter_core==5.7.2
jupyter-events==0.10.0
jupyter-lsp==2.2.0
jupyter_server==2.14.1
jupyter_server_terminals==0.4.4
jupyterlab==4.2.5
jupyterlab-pygments==0.1.2
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.10.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.4
lightgbm==4.6.0
llvmlite==0.43.0
Mako==1.2.3
Markdown==3.4.1
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.0
mistune==2.0.4
mkl_fft==1.3.11
mkl_random==1.2.8
mkl-service==2.4.0
ml_dtypes==0.5.0
multidict==6.1.0
mysql-connector-python==8.4.0
namex==0.0.7
nbclient==0.8.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
notebook==7.2.2
notebook_shim==0.2.3
numba==0.60.0
numexpr==2.10.1
numpy==1.26.4
oauthlib==3.2.2
openmeteo_requests==1.3.0
openmeteo_sdk==1.18.0
openpyxl==3.1.5
opt-einsum==3.3.0
optree==0.12.1
optuna==4.2.1
overrides==7.4.0
packaging==24.1
padasip==1.2.2
pandas==2.2.3
pandocfilters==1.5.0
parso==0.8.4
patsy==1.0.1
pillow==11.0.0
pip==24.2
platformdirs==3.10.0
plotly==5.24.1
ply==3.11
pmdarima==2.0.4
postgrest==0.19.3
prometheus_client==0.21.0
prompt-toolkit==3.0.43
propcache==0.2.0
protobuf==3.20.3
psutil==5.9.0
psycopg2==2.9.10
pure-eval==0.2.2
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==2.10.3
pydantic_core==2.27.1
pydeck==0.8.0b4
Pygments==2.15.1
PyJWT==2.9.0
pynndescent==0.5.13
pyOpenSSL==23.2.0
pyparsing==3.2.0
PyQt5==5.15.10
PyQt5-sip==12.13.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==0.21.0
python-json-logger==3.2.1
pytz==2024.1
pywin32==305.1
pywinpty==2.0.14
PyYAML==6.0.2
pyzmq==25.1.2
qtconsole==5.6.0
QtPy==2.4.1
realtime==2.4.1
referencing==0.30.2
requests==2.32.3
requests-cache==1.2.1
requests-oauthlib==2.0.0
retry-requests==2.0.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.10.6
rsa==4.7.2
scikit-base==0.12.0
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
Send2Trash==1.8.2
setuptools==75.1.0
sip==6.7.12
six==1.16.0
sktime==0.36.0
smmap==4.0.0
sniffio==1.3.0
sodapy==2.2.0
soupsieve==2.5
SQLAlchemy==2.0.37
stack-data==0.2.0
statsmodels==0.14.4
storage3==0.11.3
streamlit==1.42.0
StrEnum==0.4.15
stumpy==1.11.1
supabase==2.15.0
supafunc==0.9.3
tenacity==9.0.0
tensorboard==2.10.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
termcolor==2.1.0
terminado==0.17.1
threadpoolctl==3.5.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
toolz==1.0.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2023.3
umap-learn==0.5.7
unicodedata2==15.1.0
url-normalize==1.4.3
urllib3==2.2.3
watchdog==4.0.2
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.6
wheel==0.44.0
widgetsnbextension==4.0.13
win-inet-pton==1.1.0
wrapt==1.14.1
xgboost==2.1.1
yarl==1.18.0
zipp==3.21.0
